<section class="content" ng-controller="AthletesCtrl">
    <span>This tab shows the sites that was asked in Back-end challenge. Here you can crete, update and delete a site</span>

    <div class="buttons">
        <button class="main" ng-click="openCreateModal=true">Create new athlete</button>
        <button class="main" ng-click="openCreateInfosModal=true">Give informations for an athlete</button>
    </div>

    <div class="modal" ng-show="openCreateModal">
        <div class="overlay" ng-click="openCreateModal=false"></div>
        <div class="content">
            {% include 'modals/__createAthlete.html' %}
        </div>
    </div>

    <div class="modal" ng-show="openCreateInfosModal">
        <div class="overlay" ng-click="openCreateInfosModal=false"></div>
        <div class="content">
            {% include 'modals/__createInfosAthlete.html' %}
        </div>
    </div>

    <div class="modal" ng-show="openEditModal">
        <div class="overlay" ng-click="openEditModal=false"></div>
        <div class="content">
            {% include 'modals/__editAthlete.html' %}
        </div>
    </div>

    <div class="modal" ng-show="openEditInfosModal">
        <div class="overlay" ng-click="openEditInfosModal=false"></div>
        <div class="content">
            {% include 'modals/__editInfosAthlete.html' %}
        </div>
    </div>

    <div class="box">

        {% include 'modals/__headers.html' %}

        <div ng-repeat="athlete in athletes track by $index">
            <ul>
                <li class="arrow" ng-click="viewMore('treeIds', athlete.id)" ng-show="athlete.athlete_infos.length > 0"><span>&#10148;</span></li>
                <li class="id">{[ athlete.id ]}</li>
                <li class="athlete_name">{[ athlete.athlete_name ]}</li>
                <li ng-click="editModal(athlete)"><button class="edit">Edit Athlete</button></li>
                <li ng-click="deleteModal(athlete.id)"><button>Delete Athlete</button></li>
            </ul>
            <div ng-show="treeIds.includes(athlete.id)" ng-repeat="infos in athlete.athlete_infos">
                <ul class="child">
                    <li class="arrow" ng-click="viewMore('secondTreeIds', infos.id)" ng-show="infos.events.length > 0"><span>&#10148;</span></li>
                    <li class="sex">{[ infos.sex == 'F' ? 'Feminino' : 'Masculino' ]}</li>
                    <li class="age">{[ infos.age ]}</li>
                    <li class="height">{[ infos.height ]}</li>
                    <li class="weight">{[ infos.weight ]}</li>
                    <li class="team">{[ infos.team ]}</li>
                    <li class="medal">{[ infos.medal == '' ? 'No medals' : infos.medal ]}</li>
                    <li ng-click="editInfosModal(infos)"><button class="edit">Edit Athlete Informations</button></li>
                    <li ng-click="deleteModal(infos.id)"><button>Delete Athlete Informations</button></li>
                </ul>
                <div ng-show="secondTreeIds.includes(infos.id)" ng-repeat="event in infos.events">
                    <ul class="sub-child">
                        <li class="arrow" ng-click="viewMore('thirdTreeIds', event.id)" ng-show="infos.events.length > 0"><span>&#10148;</span></li>
                        <li class="id">{[ event.id ]}</li>
                        <li class="event_name">{[ event.event_name ]}</li>
                        <li ng-click="editEvent(event)"><button class="edit">Edit Event</button></li>
                        <li ng-click="deleteModal(event.id)"><button>Delete Event</button></li>
                    </ul>
                    <div ng-show="thirdTreeIds.includes(event.id)" ng-repeat="einfos in event.event_infos">
                        <ul class="last-child">
                            <li class="city">{[ einfos.city ]}</li>
                            <li class="sport">{[ einfos.sport ]}</li>
                            <li class="season">{[ einfos.season ]}</li>
                            <li class="year">{[ einfos.year ]}</li>
                            <li class="games">{[ einfos.games ]}</li>
                            <li ng-click="editEventInfo(einfos)"><button class="edit">Edit Event Informations</button></li>
                            <li ng-click="deleteModal(einfos.id)"><button>Delete Event Informations</button></li>
                        </ul>
                    <div>
                <div>
            <div>
        </div>
    </div>

</section>