<section class="content" ng-controller="AthletesCtrl">
    <h4>This tab shows the athletes, group by the them and explicit all informations about him and give you each event that the athlete participated for period of his life.</h4>
    <p>Here you can manipulate all informations about an athlete, including his informations. You can create, edit and delete an athlete and his informations.</p>
    <p>The athletes are ordered by name, in alphabetic order, the IDs serve to give informations for determined athlete.</p>
    <p>You can't manipulate the events, for this operations, go to Events tab, clicking in the button above.</p>
    <p>The headers change automatically according the level in tree structure.</p>

    <div class="buttons">
        <button class="main" ng-click="openCreateAthleteModal=true">Create new athlete</button>
        <button class="main" ng-click="openCreateInfosModal=true">Give informations for an athlete</button>
    </div>
    <div class="filter">
        <label>
            <input type="text" placeholder="Filter by athlete name" ng-model="filter_name">
        </label>
    </div>

    <div class="modal" ng-show="openCreateAthleteModal">
        <div class="overlay" ng-click="openCreateAthleteModal=false"></div>
        <div class="content">
            {% include 'modals/__createAthlete.html' %}
        </div>
    </div>

    <div class="modal" ng-show="openEditAthleteModal">
        <div class="overlay" ng-click="openEditAthleteModal=false"></div>
        <div class="content">
            {% include 'modals/__editAthlete.html' %}
        </div>
    </div>

    <div class="modal" ng-show="openCreateInfosModal">
        <div class="overlay" ng-click="openCreateInfosModal=false"></div>
        <div class="content">
            {% include 'modals/__createInfos.html' %}
        </div>
    </div>

    <div class="modal" ng-show="openEditInfosModal">
        <div class="overlay" ng-click="openEditInfosModal=false"></div>
        <div class="content">
            {% include 'modals/__editInfos.html' %}
        </div>
    </div>

    <div class="box">

        {% include 'modals/__headers.html' %}

        <div ng-repeat="athlete in athletes | filter: {athlete_name:filter_name}">
            <ul>
                <li class="arrow" ng-click="viewMore('treeIds', athlete.id)" ng-show="athlete.athlete_infos.length > 0"><span>&#10148;</span></li>
                <li class="id">{[ athlete.id ]}</li>
                <li class="athlete_name">{[ athlete.athlete_name ]}</li>
                <li><button ng-click="editAthleteModal(athlete)" class="edit">Edit Athlete</button></li>
                <li><button ng-click="deleteAthlete(athlete.id)">Delete Athlete</button></li>
            </ul>
            <div ng-show="treeIds.includes(athlete.id)" ng-repeat="infos in athlete.athlete_infos">
                <ul class="child">
                    <li class="arrow" ng-click="viewMore('secondTreeIds', infos.id)" ng-show="infos.event.length > 0"><span>&#10148;</span></li>
                    <li class="sex">{[ infos.sex == 'F' ? 'Female' : 'Male' ]}</li>
                    <li class="age">{[ infos.age ]}</li>
                    <li class="height">{[ infos.height ]}</li>
                    <li class="weight">{[ infos.weight ]}</li>
                    <li class="team">{[ infos.team ]}</li>
                    <li class="medal">{[ infos.medal == null ? 'No medals' : infos.medal ]}</li>
                    <li><button ng-click="editInfosModal(infos)" class="edit">Edit Athlete Informations</button></li>
                    <li><button ng-click="deleteInfos(infos.id)">Del Athlete Informations</button></li>
                </ul>
                <div ng-show="secondTreeIds.includes(infos.id)" ng-repeat="event in infos.event">
                    <ul class="sub-child">
                        <li class="arrow" ng-click="viewMore('thirdTreeIds', event.id)" ng-show="infos.events.length > 0"><span>&#10148;</span></li>
                        <li class="event_name">{[ event.event_name ]}</li>
                        <li class="city">{[ event.city ]}</li>
                        <li class="sport">{[ event.sport ]}</li>
                        <li class="season">{[ event.season ]}</li>
                        <li class="year">{[ event.year ]}</li>
                        <li class="games">{[ event.games ]}</li>
                    </ul>
                <div>
            <div>
        </div>
    </div>

</section>