<html>
    <head>
        <title>Celero Challenge</title>

        <!-- Libs -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

        <!-- CSS -->
        <link rel="stylesheet" href="static/css/challenge.css">

        <!-- App declaration -->
        <script src="static/js/challenge.js"></script>

        <!-- Factories -->
        <script src="static/js/fctr/httpFctr.js"></script>

        <!-- Controllers-->
        <script src="static/js/ctrl/rootCtrl.js"></script>
        <script src="static/js/ctrl/athletesCtrl.js"></script>
        <script src="static/js/ctrl/eventsCtrl.js"></script>

    </head>

    <body id="challenge" ng-app="challenge" ng-controller="RootCtrl">
        <section class="container">
            <h3>Welcome to celero challenge</h3>
            <p>This platform put together both challenges, Back-End and Front-End. All CRUD proccess can be done in sites AND channels</p>
            <p>To change between tabs, click and the buttons below</p>
            <div class="buttons">
                <button ng-class="{main: active_tab=='athletes'}" ng-click="active_tab='athletes'">Athletes</button>
                <button ng-class="{main: active_tab=='events'}" ng-click="active_tab='events'">Events</button>
            </div>
        </section>

        <section class="container" ng-if="active_tab=='athletes'">
            {% include 'athletes.html' %}
        </section>

        <section class="container" ng-if="active_tab=='events'">
            {% include 'events.html' %}
        </section>
    </body>
</html>