<h4>Create Site Modal</h4>
<form id="createSite">
    <label>
        <span>Name: </span>
        <input name="name" ng-model="createSite.name" type="text" placeholder="Site name" required>
    </label>
    <label>
        <span>URLs: </span>
        <input name="urls" ng-model="createSite.urls" type="text" placeholder="URLs (for more than one, separate by ';')" required>
    </label>
    <label>
        <span>Categories: </span>
        <input name="categories" ng-model="createSite.categories" type="text" placeholder="Categories (for more than one, separate by ';')" required>
    </label>
    <label>
        <span>Status: </span>
        <label>
            <input name="status" ng-model="createSite.status" type="radio" value="active" required>Active
        </label>
        <label>
            <input name="status" ng-model="createSite.status" type="radio" value="inactive" required>Inactive
        </label>
    </label>

    <div class="buttons">
        <button class="main" ng-click="createNewSite()">Create</button>
        <button class="cancel" ng-click="openCreateModal=false">Cancel</button>
    </div>
</form>