<h4>Create Event Modal</h4>
<form id="createEvent">
    <label>
        <span>Name: </span>
        <input name="event_name" ng-model="createEvent.event_name" type="text" placeholder="Event name">
    </label>
    <label>
        <span>City: </span>
        <input name="city" ng-model="createEvent.city" type="text" placeholder="City of this event">
    </label>
    <label>
        <span>Sport: </span>
        <input name="sport" ng-model="createEvent.sport" type="text" placeholder="Sport of this event">
    </label>
    <label>
        <span>Year: </span>
        <input name="year" ng-model="createEvent.year" type="number" placeholder="Year of this event">
    </label>
    <label>
        <span>Season: </span>
        <select name="cars" id="cars" ng-model="createEvent.season">
            <option value="Summer">Summer</option>
            <option value="Autumn">Autumn</option>
            <option value="Winter">Winter</option>
            <option value="Spring">Spring</option>
        </select>
    </label>

    <div class="buttons">
        <button class="main" ng-click="createNewEvent()">Create</button>
        <button class="cancel" ng-click="openCreateEventModal=false">Cancel</button>
    </div>
</form>