<h4>Create Event Modal</h4>
<form id="createEvent">
    <label>
        <span>Name: </span>
        <input name="name" ng-model="createChannel.name" type="text" placeholder="Channel name">
    </label>
    <label>
        <span>Parent ID: </span>
        <input name="parent" ng-model="createChannel.parent" type="number" placeholder="Parent ID (if no parent put 0)">
    </label>
    <label>
        <span>Users: </span>
        <input name="users" ng-model="createChannel.users" type="number" placeholder="Users (visitors)">
    </label>
    <label>
        <span>Percent: </span>
        <input name="percent" ng-model="createChannel.percent" type="number" placeholder="Percent">
    </label>
    <label>
        <span>Status: </span>
        <label>
            <input name="status" ng-model="createChannel.status" type="radio" value="Active">Active
        </label>
        <label>
            <input name="status" ng-model="createChannel.status" type="radio" value="Inactive">Inactive
        </label>
    </label>

    <div class="buttons">
        <button class="main" ng-click="createNewChannel()">Create</button>
        <button class="cancel" ng-click="openCreateModal=false">Cancel</button>
    </div>
</form>