<h4>Edit Site Modal</h4>
<form id="editChannel">
    <label>
        <span>Name: </span>
        <input name="name" ng-model="editChannel.name" type="text" placeholder="Channel name" required>
    </label>
    <label>
        <span>Parend ID: </span>
        <input name="parent" ng-model="editChannel.parent" type="number" placeholder="Parent ID (if no parent put 0)" required>
    </label>
    <label>
        <span>Users: </span>
        <input name="users" ng-model="editChannel.users" type="number" placeholder="Users (visitors)" required>
    </label>
    <label>
        <span>Percent: </span>
        <input name="percent" ng-model="editChannel.percent" type="number" placeholder="Percent (Just the number, without '%')" required>
    </label>
    <label>
        <span>Status: </span>
        <label>
            <input name="status" ng-model="editChannel.status" type="radio" value="Active" required>Active
        </label>
        <label>
            <input name="status" ng-model="editChannel.status" type="radio" value="Inactive" required>Inactive
            
        </label>
    </label>

    <div class="buttons">
        <button class="main" ng-click="updateChannel()">Update</button>
        <button class="cancel" ng-click="openEditModal=false">Cancel</button>
    </div>
</form>