<h4>Create Event Modal</h4>
<form id="editEvent">
    <label>
        <span>Name: </span>
        <input name="event_name" ng-model="editEvent.event_name" type="text" placeholder="Event name">
    </label>
    <label>
        <span>City: </span>
        <input name="city" ng-model="editEvent.city" type="text" placeholder="City of this event">
    </label>
    <label>
        <span>Sport: </span>
        <input name="sport" ng-model="editEvent.sport" type="text" placeholder="Sport of this event">
    </label>
    <label>
        <span>Year: </span>
        <input name="year" ng-model="editEvent.year" type="number" placeholder="Year of this event">
    </label>
    <label>
        <span>Games: </span>
        <input name="year" ng-model="editEvent.games" type="text" placeholder="The games, year and season">
    </label>
    <label>
        <span>Season: </span>
        <select name="season" ng-model="editEvent.season">
            <option value="Summer">Summer</option>
            <option value="Autumn">Autumn</option>
            <option value="Winter">Winter</option>
            <option value="Spring">Spring</option>
        </select>
    </label>

    <div class="buttons">
        <button class="main" ng-click="updateEvent()">Update</button>
        <button class="cancel" ng-click="openEditEventModal=false">Cancel</button>
    </div>
</form>