<h4>Edit Athlete Infos Modal</h4>
<form id="editInfos">
    <label>
        <span>ID of the athlete: </span>
        <input name="athlete" ng-model="editInfosAthlete.athlete" type="number" placeholder="ID (You can find this in first column)">
    </label>
    <label>
        <span>Age: </span>
        <input name="age" ng-model="editInfosAthlete.age" type="number" placeholder="Age">
    </label>
    <label>
        <span>Height: </span>
        <input name="height" ng-model="editInfosAthlete.height" type="number" placeholder="Height">
    </label>
    <label>
        <span>Weight: </span>
        <input name="weight" ng-model="editInfosAthlete.weight" type="number" placeholder="Weight">
    </label>
    <label>
        <span>Team: </span>
        <input name="team" ng-model="editInfosAthlete.team" type="text" placeholder="Team">
    </label>
    <label>
        <span>Medal: </span>
        <select name="medal" ng-model="editInfosAthlete.medal">
            <option value="">No medals</option>
            <option value="Gold">Gold</option>
            <option value="Silver">Silver</option>
            <option value="Bronze">Bronze</option>
        </select>
    </label>
    <label>
        <span>Sex: </span>
        <label>
            <input name="sex" ng-model="editInfosAthlete.sex" type="radio" value="M" required>Male
        </label>
        <label>
            <input name="sex" ng-model="editInfosAthlete.sex" type="radio" value="F" required>Female
        </label>
    </label>
    <label>
        <span>Event ID: </span>
        <input name="event" ng-model="editInfosAthlete.event" type="number" placeholder="Event ID (You can find this in first column of events)">
    </label>

    <div class="buttons">
        <button class="main" ng-click="updateInfos()">Update</button>
        <button class="cancel" ng-click="openEditInfosModal=false">Cancel</button>
    </div>
</form>