<h4>Edit Site Modal</h4>
<form id="editSite">
    <label>
        <span>Name: </span>
        <input name="name" ng-model="editSite.name" type="text" placeholder="Site name" required>
    </label>
    <label>
        <span>URLs: </span>
        <input name="urls" ng-model="editSite.urls" type="text" placeholder="URLs (for more than one, separate by ';')" required>
    </label>
    <label>
        <span>Categories: </span>
        <input name="categories" ng-model="editSite.categories" type="text" placeholder="Categories (for more than one, separate by ';')" required>
    </label>
    <label>
        <span>Status: </span>
        <label>
            <input name="status" ng-model="editSite.status" type="radio" value="active" required>Active
        </label>
        <label>
            <input name="status" ng-model="editSite.status" type="radio" value="inactive" required>Inactive
        </label>
    </label>

    <div class="buttons">
        <button class="main" type="button" ng-click="updateSite()">Update</button>
        <button class="cancel" type="button" ng-click="openEditModal=false">Cancel</button>
    </div>
</form>