<ul class="header" ng-show="renderHeader=='generic'">
    <li class="arrow"></li>
    <li>id</li>
    <li>name</li>
    <li>action</li>
    <li>action</li>
</ul>
<ul class="header" ng-show="renderHeader=='athlete_infos'">
    <li class="arrow"></li>
    <li>sex</li>
    <li>age</li>
    <li>height</li>
    <li>weight</li>
    <li>team</li>
    <li>medal</li>
    <li>action</li>
    <li>action</li>
</ul>
<ul class="header" ng-show="renderHeader=='event_infos'">
    <li class="arrow"></li>
    <li>city</li>
    <li>sport</li>
    <li>season</li>
    <li>year</li>
    <li>games</li>
    <li>action</li>
    <li>action</li>
</ul>